
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, p, ul {
    margin: 0;
}

.list {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.swiper {
    width: 600px;
    height: 300px;
  }


