*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, p, ul {
    margin: 0;
}

.list {
    list-style: none;
}


h1 {
    color: black;
    margin-left: 650px;
}

.parent {
    border: 5px solid blue;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    
    
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    width: 250px;
    height: 250px;
}

h2 {
    color: white;
 
}


.parent:hover .child  {
   animation-name: transform ;
   animation-duration: 6000ms;
   
   background-color: aqua;
  

}

@keyframes transform {
  0% {
      transform: perspective(900px) rotateZ(80deg);

  }
   50% {
    transform: perspective(900px) rotateZ(-80deg); 
   }

   100% {
    transform: perspective(900px) rotateZ(100deg);
   }

}



